*{
    padding: 0;
    margin: 0;
    font-size: 0;
}
body{
    padding-top: 40px;
}
h1{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(39, 39, 39);

}
.header{
    top: 0;
    text-align: center;
    display: block;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    z-index: 7;
}
.title{
    font-size: 30px;
    line-height: 25px;
    font-weight: 100;
    margin-bottom: 20px;
    font-family: 'Cormorant Infant', serif;
    font-weight: 100;
    text-shadow: 0 5px 20px rgb(255, 255, 255); 
    text-transform: uppercase;
}
.h2Slider{
    font-size: 30px;
    text-align: center;
    line-height: 25px;
    color: white;
    font-weight: 100;
    margin-bottom: 20px;
    font-family: 'Cormorant Infant', serif;
    font-weight: 100;
    text-shadow: 0 5px 20px rgb(255, 255, 255);
}
p{
    font-size: 18px;
}
.slider{
    white-space: nowrap;
    font-size: 0;
    transition: 0.5s;
}
.sliderContainer{
    overflow: hidden;
    position: relative;

}
.slide{
    background-image: url('baner.jpeg');
    width: 100%;
    display: inline-block;
    white-space: normal;
    box-sizing: border-box;
    object-fit: cover;
    background-color: rgba(141, 125, 125, 0.503);
    padding: 20% 0 15% 0;
    text-align: center;
    
}
.infoButton{
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    padding: 7px 15px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    background-color: rgba(252, 215, 221, 0.936);
    margin-top: 20px;
    font-family: 'Cormorant Infant', serif;
}
.arrows{
    position: absolute;
    /* position: fixed; */
    /* bottom: 0; */
    left: 0;
    width: 100%;
    height: 100%;
}

.leftArrow{
    float: left;
    filter: invert(100%);
    /* background-color: pink; */
    /* height: 100%; */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(180deg);
    z-index: 5;
    
}
.rightArrow{
    float: right;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 5;
    transform: translateY(-50%);

}
.arrows a img{
    width: 50px;
}

.form1{
    padding: 50px 0;
    background-color: rgb(254, 238, 241);
}
.form1Info{
    padding: 50px 0 0 50px;
    display: inline-block;
    width: 75%;
    box-sizing: border-box;
    position: relative;
    vertical-align: bottom;

}
.form1Img{
    display: inline-block;
    width: 25%;
    height: 250px;
    object-fit: cover;
    object-position: right;
    vertical-align: bottom;
}
.form1Info h2{
    font-size: 30px;
    font-family: 'Cormorant Infant', serif;
    color: rgb(46, 46, 46);
    text-transform: uppercase;
    text-align: left;
    font-weight: 200;
    line-height: 28px;
    margin-bottom: 10px;

}
.pText{
    font-size: 15px;
}
.pInfo{
    font-size: 10px;
    right: 0;
    text-align: right;
    margin-top: 20px;
}

.aboutMe{
    margin-top: 40px;
    padding-bottom: 40px;
}
.aboutLeft{
    width: 40%;
    display: inline-block;
    padding-left: 30px;
    box-sizing: border-box;
    background-color: rgb(254, 238, 241);
    background-size: 80% 100%;
    padding-top: 40px;

}
.aboutLeft img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    
    
}
.aboutLeft p{
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px 0;
}
.aboutRight{
    display: inline-block;
    width: 60%;
    padding-left: 20px;
    box-sizing: border-box;
    padding-bottom: 40px;
    vertical-align: top;
    
}
.aboutRight img{
    width: 40%;
    padding-top: 40px;
}
.aboutRight p{
    font-size: 10px;
}
.aboutRight h2{
    padding: 10px 0;
    margin: 0;
}

